@{
    ViewData["Title"] = "Question Updated";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container-fluid">
    <div class="alert alert-success">
        <div class="col-sm-12">
            <h2>Your Question has been edited successfully</h2>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>