@model Quiz.Models.ViewModels.AnswerVM

@if(Model.Answers != null)
{
<table class="table table-striped" id="QuestionTable">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Answer
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Answers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Character)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer1)
                </td>
                <td>
                    <a asp-action="ViewAnswer" asp-route-id="@item.Id">Edit Answer</a>
                </td>
                <td>
                        <a asp-action="AddAnswer" asp-route-id="@item.QuestionId">Add Answer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else{
<h1>
    There are no other answers to be displayed
</h1>
}
