@model Quiz.Models.ViewModels.AnswerVM

<div class="row">
	<div class="col-md-4">
		<form asp-action="EditQuestion">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@Html.HiddenFor(i => i.Id)
			@Html.HiddenFor(u => u.QuestionId)

			<div class="form-group">
				<label class="control-label">Question</label>
				<input asp-for="Character" class="form-control" />
				<span asp-validation-for="Character" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label class="control-label">Answer</label>
				<input asp-for="Answer1" class="form-control" />
				<span asp-validation-for="Answer1" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Submit" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>