@{
    ViewData["Title"] = "Restricted action";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container-fluid">
    <div class="alert alert-failure">
        <div class="col-sm-12">
            <h2>You do not have permissions for this</h2>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>